@import "tailwindcss";

@theme {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  
  --color-apex-bg: #0D0D0D;
  --color-apex-card: #1A1A1A;
  --color-apex-border: #262626;
  --color-apex-neon: #CCFF00; 
  --color-apex-neon-dim: #1a2400;
  --color-apex-red: #FF3333;
  --color-apex-slate: #A1A1AA;
}

body {
  background-color: var(--color-apex-bg);
  color: white;
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
